<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--<configuration>-->
    <!--&lt;!&ndash;-->
        <!--environments标签：配置多个环境的（数据库相关的信息）-->
        <!--default属性：指定使用哪个环境-->

    <!--&ndash;&gt;-->
    <!--<environments default="development">-->
        <!--&lt;!&ndash;-->
            <!--environment:配置单个环境的-->
            <!--id:环境的唯一标识，一般用来被引用的，不能重复。-->
        <!--&ndash;&gt;-->
        <!--<environment id="development">-->
            <!--&lt;!&ndash;-->
                <!--transactionManager：事务-->
                <!--type：JDBC，表示使用JDBC的使用，一般不会修改-->
            <!--&ndash;&gt;-->
            <!--<transactionManager type="JDBC"/>-->
            <!--&lt;!&ndash;-->
                <!--dataSource：数据源，配置数据库的相关连接信息和连接池等信息-->
                <!--type:POOLED，使用连接池技术，一般不用修改-->
            <!--&ndash;&gt;-->
            <!--<dataSource type="POOLED">-->
                <!--&lt;!&ndash;数据库连接信息&ndash;&gt;-->
                <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
                <!--<property name="url" value="jdbc:mysql://localhost:3306/heima40"/>-->
                <!--<property name="username" value="root"/>-->
                <!--<property name="password" value="root"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->

    <!--&lt;!&ndash;配置管理映射文件&ndash;&gt;-->
    <!--<mappers>-->
        <!--<mapper resource="UserMapper.xml"/>-->
    <!--</mappers>-->
<!--</configuration>-->
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>